<div class="category-marquee">
    <div class="marquee-text content-container">
        <h1 class="page-heading"></h1>
        <p class="text-copy"></p>
    </div>
</div>

<div class="subcategory-container">
    <div><span class="h6-subHead-sm"></span></div>
    <div class="subcategory-links content-container">
        <a href="/blog/" class="subcategory-col">
            <svg id="Icon_Blog" xmlns="http://www.w3.org/2000/svg" width="32.97" height="35.104" viewBox="0 0 32.97 35.104">
              <path id="Path_1064" data-name="Path 1064" d="M1057.016,1347.81H1026.7a1.325,1.325,0,1,0,0,2.649h30.321a1.325,1.325,0,1,0,0-2.649Z" transform="translate(-1025.371 -1315.355)" fill="#8dc641" />
              <path id="Path_1065" data-name="Path 1065"
                d="M1026.779,1339.5h5.63a1.327,1.327,0,0,0,.937-.388l20.128-20.128a1.325,1.325,0,0,0,0-1.873l-5.667-5.667a1.327,1.327,0,0,0-.937-.388h0a1.324,1.324,0,0,0-.937.389l-20.091,20.165a1.323,1.323,0,0,0-.387.935v5.63A1.325,1.325,0,0,0,1026.779,1339.5Zm20.093-25.244,3.792,3.792-2.174,2.174-3.789-3.788ZM1028.1,1333.1l14.728-14.782,3.784,3.784-14.755,14.755H1028.1Z"
                transform="translate(-1025.381 -1311.06)" fill="#8dc641" />
            </svg>
            <h3 class="subhead">Blog</h3>
            <p>A collection of inspirational stories and experiences from Team Athletes & Ambassadors from around the world.</p>
        </a>
        <a href="/blog/?category=Expeditions" class="subcategory-col">
            <svg xmlns="http://www.w3.org/2000/svg" width="40.469" height="35.553" viewBox="0 0 40.469 35.553">
              <path id="Icon_Expeditions"
                d="M773.173,1457.265a1.329,1.329,0,0,0-1.341.031l-11.082,6.858-13.11-6.9c-.011-.006-.025-.008-.037-.014a1.38,1.38,0,0,0-.253-.094l-.042-.013a1.36,1.36,0,0,0-.283-.032l-.027,0c-.026,0-.052.006-.079.008a1.339,1.339,0,0,0-.231.038c-.032.009-.062.019-.092.029a1.35,1.35,0,0,0-.219.1c-.016.01-.034.013-.049.023l-12.314,7.631a1.325,1.325,0,0,0-.627,1.127v25.272a1.325,1.325,0,0,0,1.989,1.146l11.679-6.764,12.837,6.789c.014.007.029.01.042.016a1.328,1.328,0,0,0,.2.078c.026.008.052.019.079.024a1.3,1.3,0,0,0,.3.036,1.275,1.275,0,0,0,.326-.046.8.8,0,0,0,.082-.025,1.336,1.336,0,0,0,.252-.112.45.45,0,0,0,.042-.019l12.02-7.507a1.324,1.324,0,0,0,.623-1.123v-25.4A1.322,1.322,0,0,0,773.173,1457.265Zm-24.826,3.352,10.837,5.706v22.8l-10.837-5.731Zm-12.314,6.174,9.664-5.989v22.628l-9.664,5.6Zm35.17,16.293-9.37,5.853V1466.6l9.37-5.8Z"
                transform="translate(-733.384 -1457.097)" fill="#8dc641" />
            </svg>
            <h3 class="subhead">Expeditions</h3>
            <p>Kokatat sponsors expeditions that take paddlers to all corners of the earth. Read the tales of these adventurous first descents, circumnavigations, and explorations.</p>
        </a>
        <a href="/blog/?category=Education" class="subcategory-col">
            <svg id="Icon_Education" xmlns="http://www.w3.org/2000/svg" width="26.062" height="38.5" viewBox="0 0 26.062 38.5">
              <path id="Path_1067" data-name="Path 1067"
                d="M1343.706,1611.233a13.031,13.031,0,0,0-26.062,0,12.826,12.826,0,0,0,6.665,11.622v4.069a1.325,1.325,0,0,0,1.325,1.325h10.244a1.325,1.325,0,0,0,1.325-1.325v-4.373C1340.335,1620.93,1343.706,1617.689,1343.706,1611.233Zm-8.364,9.275a1.322,1.322,0,0,0-.774,1.377,1.343,1.343,0,0,0-.016.161v3.553h-7.594v-3.553a2.133,2.133,0,0,0-1.109-1.383c-3.375-1.506-5.556-5.207-5.556-9.43a10.382,10.382,0,0,1,20.763,0C1341.057,1615.711,1339.134,1618.831,1335.342,1620.508Z"
                transform="translate(-1317.644 -1598.202)" fill="#8dc641" />
              <path id="Path_1068" data-name="Path 1068" d="M1336.476,1634.1h-9.96a1.325,1.325,0,1,0,0,2.649h9.96a1.325,1.325,0,1,0,0-2.649Z" transform="translate(-1318.526 -1602.398)" fill="#8dc641" />
              <path id="Path_1069" data-name="Path 1069" d="M1334.37,1638.8h-5.692a1.325,1.325,0,1,0,0,2.649h5.692a1.325,1.325,0,1,0,0-2.649Z" transform="translate(-1318.779 -1602.947)" fill="#8dc641" />
            </svg>
            <h3 class="subhead">Education</h3>
            <p>Dive into the education blog for tutorials and lessons ranging from technique to mental strategies taught by our elite paddlers & adventurors.</p>
        </a>
    </div>
</div>

<div class="team-container content-container">
    <div class="team-images">
        <img src="" title="" alt="">
    </div>
    <div class="team-copy">
        <span class="h6-subHead-sm"></span>
        <h3></h3>
        <p></p>
        <a class="text-link mobile" href="/team"><span></span></a>
        <a class="button button--primary desktop" href="/team"><span></span></a>
    </div>
</div>
<div class="about-container">
    <div class="heading"><span class="h6-subHead-sm"></span></div>
    <ul class="life-carousel" data-slick='{
            "mobileFirst": true,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "arrows": true,
            "infinite": true,
            "dots": false,
            "responsive": [
                {
                    "breakpoint": 801,
                    "settings": {
                        "centerPadding": "10%",
                        "variableWidth": true
                        "adaptiveHeight": true
                    }
                }
            ]
        }'>
    </ul>
    <li class="about-post-slide-template" hidden>
        <img class="about-post-image" src="" alt="">
        <div class="about-copy">
            <a class="about-post-slug" href="" aria-label="Story post">
                <h3 class="about-post-title"></h3>
            </a>
            <p class="about-post-teaser"></p>
        </div>
    </li>
</div>

<div id="stories-cta">
    <div class="story" hidden>
        <img class="stories-image" alt="" title="" src="">
        <div class="stories-container">
            <div class="stories-content">
                <div class="stories-subhead"></div>
                <div class="stories-title"></div>
                <p class="stories-description"></p>
                <a href="" class="text-link"><span>read more</span></a>
            </div>
        </div>
    </div>
</div>
<div class="from-the-blog">
    <div class="content-container">
        <div class="heading"><span class="h6-subHead-sm"></span></div>
        <div class="blog-post-feed">
            <div class="blog-card" hidden>
                <div class="overlay"></div>
                <img alt="" title="" src="" style="order: 1;">
                <div class="blog-content">
                    <header class="blog-header">
                        <div class="blog-subhead">
                            <div class="tag"></div>
                            <div class="subhead-divider">|</div>
                            <div class="blog-date"></div>
                        </div>
                        <h2 class="blog-title">
                            <a href="/your-first-blog-post/" aria-label="Blog post"><span class="is-srOnly">Blog post</span></a>
                        </h2>
                    </header>
                    <div class="blog-post">
                        <p></p>
                        <a href="" class="text-link">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-container">
    <section class="page-content page-content--centered">
        {{!-- <div class="top-section"></div>
        <div class="about-video embed-responsive"></div> --}}
        <div class="about-sections"></div>
    </section>
</div>
<div class="life-instagram">
    <div class="ig-header">
        <h3 class="page-heading">
            <img src="{{cdn 'img/kokatat/icon-assets/Icon_IG.svg'}}" alt="" role="presentation">
            we're social
        </h3>
    </div>
    <div class="instagram-feed">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-98438c95-428d-4482-8e73-5f463d794c66"></div>
    </div>
</div>
