<div class="category-marquee">
    <div class="marquee-text content-container">
        <h1 class="page-heading"></h1>
        <p class="text-copy"></p>
    </div>
</div>
<nav class="team-nav">
    <ul  class="team-nav-list content-container">
        <li class="nav-item">
            <a class="nav-link" href="">all</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#pro-team">pro team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#ambassador-team">ambassador team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#kayak-team">kayak team</a>
        </li>
    </ul>
</nav>
<div class="team-container">
    <div id="pro-team" class="proteam-container content-container">
        <div class="heading">
            <h3>Pro Team</h3>
            <p></p>
        </div>
        <div class="team-members">
            <a class="team-member" href="" hidden>
                <div class="image">
                    <div class="overlay"></div>
                    <div class="flag" hidden><img src="{{cdn 'img/kokatat/icon-assets/usa_flag.png'}}" alt=""></div>
                    <img class="profile-image" src="" alt="">
                </div>
                <div class="member-details">
                    <h4 class="name"></h4>
                    <p class="tag"></p>
                </div>
            </a>
        </div>
    </div>
    <div id="ambassador-team" class="ambassador-container content-container">
        <div class="heading">
            <h3></h3>
            <p></p>
        </div>
        <div class="team-members">
        </div>
    </div>
    <div id="kayak-team" class="kayak-team-container content-container">
        <div class="heading">
            <h3></h3>
            <p></p>
        </div>
        <div class="team-members">
        </div>
    </div>
</div>
