<a class="h6-subHead-sm navPages-action has-subMenu" href="{{url}}">
    {{name}}
</a>
<div class="navPage-subMenu">
    <ul class="navPage-subMenu-list">
        {{#each children}}
        {{#unless name '==' 'Dealer Locator'}}
        {{#unless name '==' 'Government Sales'}}
        {{#unless name '==' 'Declaration of Conformity'}}
            <li class="navPage-subMenu-item">
                    <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}">{{name}}</a>
            </li>
        {{/unless}}
        {{/unless}}
        {{/unless}}
        {{/each}}
    </ul>
</div>
