.secondary-marquee {
  position: relative;

  .heroCarousel-image {
    height: 250px;
  }

  .copy-container {
    color: #ffffff;

    .page-heading {
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: 0.28px;
      position: absolute;
      top: 20%;
      color: #ffffff;
      padding: 1.5rem;
      text-align: left;
    }

    .description {
      display: none;
    }
  }
  @include breakpoint("medium") {
    .heroCarousel-image {
      min-height: 450px;
    }

    .content-wrapper {
      display: flex;
      justify-content: flex-start;
      position: absolute;
      top: 50%;
      transform: translateY(-40%);

      .copy-container {
        background-color: transparent;
        position: relative;
        z-index: 2;
        text-align: left;

        .page-heading {
          font-size: 50px;
          position: relative;
          top: 0;
        }

        .description {
          display: block;
          font-size: 22px;
        }
      }
    }
  }
}
