/*Account pages wishlist table */

.wishlists-table {
	@include breakpoint("small") {
		.table-actions {
			width:  25%;
			text-align: center;
		}
	}
	&.table--line {
		tr {
	        td {
	            @include breakpoint("small") {

	                &:last-child {
	                    text-align: center;
	                }
	            }
	        }
	    }
	    .table-thead {
	        tr {
	            th {
	                &:last-child {
	                	text-align: center;
	                }
	            }
	        }
	    }
	}
}
