<a class="h6-subHead-sm navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{toLowerCase (hyphenate id)}}">
    {{name}}
    <span class="plus-icon"><?xml version="1.0" encoding="iso-8859-1"?>
        <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="IconsRepoEditor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455" style="enable-background:new 0 0 455 455;" xml:space="preserve" width="100px" height="100px" fill="#000000" stroke="#000000" stroke-width="32">
        <g id="IconsRepo_bgCarrier"/> <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5 "/> </svg>
    </span>
</a>
<div class="navPage-subMenu" id="navPages-{{toLowerCase (hyphenate id)}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
        {{#each children}}
            <li class="navPage-subMenu-item">
                    <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>
