<div id="support-panel">
	<div class="support-panel-content">
		<h4>NEED HELP?</h4>
		<hr>
			<div class="support-phone"><a href="tel:1-800-225-9749">800.225.9749</a></div>
			<div class="support-subtext">toll-free in the U.S.</div>
		<hr>
		<div class="support-phone"><a href="tel:1-707-822-7621">707.822.7621</a></div>
		<div class="support-subtext">International</div>
		<hr>

		<div class="support-phone">707.822.8481</div>
		<div class="support-subtext">Fax</div>
		
		<div class="support-button">
		<button class="primary-button" onclick="window.location.href='/strike/support/contact-us'" type="submit">
      <span>CONTACT US</span>
    </button>
		</div>
	</div>
</div>
