<div id="featureGrid" class="feature">
    <div class="content">
        <h3 class="headline"></h3>
        <div class="copy"></div>
        <a class="text-link" href="#"></a>
        <!-- <div class="video-link"> -->
            <a class="video-link" href="#">
                <svg id="Icon_PlayButton" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59">
                    <circle id="Ellipse_25" data-name="Ellipse 25" cx="29.5" cy="29.5" r="29.5"/>
                    <path id="Subtraction_56" data-name="Subtraction 56" d="M3.537,17.388h0L0,0,17.388,3.537,3.537,17.387Z" transform="translate(38.929 29.642) rotate(135)" fill="#8DC641"/>
                </svg>
                <div class="text-link-no-arrow" href="#">watch the video</div>
            </a>
        <!-- </div> -->
        <span class="triangle"></span>
    </div>
    <div class="image"></div>
</div>
