<div id="featuredExpedition">
    <div class="overlay"></div>
    <div class="marquee-block marquee-centered">
        <div class="marquee-text content-container desktop">
            <h1 class="page-heading"></h1>
            <p class="text-copy"></p>
            <a href="#" class="button--secondary">Read the story</a>
        </div>
      </div>
    <div class="marquee-text mobile">
        <h1 class="page-heading"></h1>
        <p class="text-copy"></p>
        <a href="#" class="cta button--primary">Read the story</a>
    </div>
</div>
