<div id="marqueeSlide">
    <div class="heroCarousel-slide">
        <div class="heroCarousel-content-wrapper">
                        <img class="heroCarousel-image" alt="" role="presentation" title="" src="">
            <div class="placeholder">
              <canvas height="450" width="1480"></canvas>
            </div>
            <div class="heroCarousel-content">
                <div class="slide-bg"></div>
                <div class="content-container">
                    <div class="copy-container">
                        <div class="h5-subHead-lg heroCarousel-subhead"></div>
                        <h1 class="heroCarousel-title"></h1>
                        <p class="heroCarousel-description"></p>
                        <div class="marq-links">
                            <div class="button--primary"><a href="#" class="heroCarousel-action"><span class="is-srOnly">Shop now</span></a></div>
                            <a href="#" class="text-link"><span class="is-srOnly">Learn more</span></a>
                        </div>
                    </div>
                    <img class="content-bg" alt="" role="presentation" title="" src="">
                    <img class="content-fg" alt="" role="presentation" title="" src="">
                </div>
            </div>
        </div>
    </div>
</div>
