<div class="productNav-container">
    <div class="content-container">
        <nav class="productNav">
            <div class="productNavToggle"><h3 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h3></div>
            <ul  id="productNav-list" class="content-container">
                <li class="productNav-item">
                    <a class="productNav-link h6-subHead-sm" href="#related-products-link">Related Products</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
