<div id="home-blog-cta">
  <div class="home-blog-left">
    <img class="home-blog-image" alt="" role="presentation" src="" style="order: 1;">
    <div class="placeholder" aria-hidden="true">
      <canvas height="500" width="510"></canvas>
    </div>
    <div class="home-blog-container">
      <div class="home-blog-content">
        <div class="home-blog-subhead"></div>
        <div class="home-blog-title"></div>
        <p class="home-blog-description"></p>
        <a href="#" class="text-link">read more</a>
      </div>
    </div>
  </div>
  <div class="home-blog-right">
    <img class="home-blog-image" alt="" role="presentation" src="" style="order: 1;">
    <div class="placeholder" aria-hidden="true">
      <canvas height="500" width="510"></canvas>
    </div>
    <div class="home-blog-container">
      <div class="home-blog-content">
        <div class="home-blog-subhead"></div>
        <div class="home-blog-title"></div>
        <p class="home-blog-description"></p>
        <a href="#" class="text-link">read more</a>
      </div>
    </div>
  </div>
</div>
