<div id="home-cta">
    <div class="cta-row">
        <div id="cta_block_1" class="shop-cta-odd">
            <img src="" alt="" role="presentation">
            <div class="placeholder" aria-hidden="true">
              <canvas height="350" width="625"></canvas>
            </div>
            <div class="text-cta">
                                <a href="#" class="cta-button kok-btn"><span class="is-srOnly">Call to action</span></a>
            </div>
        </div>
        <div id="cta_block_2" class="shop-cta-even">
            <div class="text-cta">
                <div class="cta-description">
                    <img src="" alt="" role="presentation">
                    <div class="placeholder" aria-hidden="true">
                      <canvas height="295" width="350"></canvas>
                    </div>
                    <div class="">
                        <h2></h2>
                        <a href="#" class="text-link"><span class="is-srOnly">Read more</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-row reverse">
        <div id="cta_block_3" class="shop-cta-odd">
            <img src="" alt="" role="presentation">
            <div class="placeholder" aria-hidden="true">
              <canvas height="350" width="625"></canvas>
            </div>
            <div class="text-cta">
                                <a href="#" class="cta-button kok-btn"><span class="is-srOnly">Call to action</span></a>
            </div>
        </div>
        <div id="cta_block_4" class="shop-cta-even">
            <div class="text-cta">
                <div class="cta-description reverse">
                    <img src="" alt="" role="presentation">
                    <div class="placeholder" aria-hidden="true">
                      <canvas height="295" width="350"></canvas>
                    </div>
                    <div>
                        <h2></h2>
                        <a href="#" class="text-link"><span class="is-srOnly">Read more</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
