<div id="cs-landing-panel">
	<h3>HOW IT WORKS</h3>
	<div class=""><hr class="thick-border-dark"></div>
	<div class="">
		<h1>1</h1>
		<div class="h5-subHead-lg">PICK YOUR SUIT</div>
		<div class="body-copy-lg">Get started by selecting which suit you would like to customize</div>
    </div>
	<div class="">
		<h1>2</h1>
		<div class="h5-subHead-lg">CHOOSE BASE COLORS</div>
		<div class="body-copy-lg">Start with our standard options or go fully custom</div>
	</div>
	<div class="">
		<h1>3</h1>
		<div class="h5-subHead-lg">OPTIONAL FEATURES</div>
		<div class="body-copy-lg">Customize standard features for that suit and add additional extras</div>
	</div>
	<div class="">
		<h1>4</h1>
		<div class="h5-subHead-lg">SIZING</div>
		<div class="body-copy-lg">Finish up by specifying your sizing for suit options</div>
	</div>
</div>
