<div class="product-info">
      <img src="https://cdn11.bigcommerce.com/s-2y1g1tdlub/images/stencil/500x659/products/2721/1704/LVUBAPOL-ul-bahia-predator-olive__76301.1581026327.jpg?c=1" alt="">
    <div class="content">
        <h3 class="headline">HEADLINE HERE FOR SOME CONTENT tying back to a mens story lorem ipsum</h3>
        <div class="copy">Voluptat et ute nem lam eosaperist bero te culpa Luptat. Xime natqu atawerquam Unt liti anditibus iducia dolorporenda neculliqui ant ex ea cusae. Nam qui optatur, tendam, sam es ut quo.</div>
        <span class="triangle"></span>
    </div>
</div>
