.homepage {
  .grey-bkg {
    background-color: #f2f2f2;
    box-sizing: border-box;
  }
  .heroCarousel {
    margin-top: 0;
    .slick-next,
    .slick-prev {
      top: 27%;
    }
    @include breakpoint("small") {
      .slick-next,
      .slick-prev {
        top: 32%;
      }
    }
  }

  .heroCarousel .slick-list {
    overflow: hidden;
  }

  .heroCarousel-image {
    display: none;
    width: 100%;
    margin-bottom: 40px;
  }

  .heroCarousel-action {
    margin: 0;
  }
  .heroCarousel-content {
    background-color: #ffffff;
    padding: 0;
    .content-container {
      margin-top: 3rem;
    }
    .copy-container {
      display: flex;
      flex-direction: column;
    }
    .slide-bg {
      min-height: 250px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include breakpoint("small") {
        min-height: 350px;
      }
      @include breakpoint("medium") {
        min-height: 400px;
      }
      @include breakpoint("large") {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        min-height: 500px;
      }
    }
  }

  .content-bg,
  .content-fg {
    display: none;
  }

  .heroCarousel-title {
    font-size: 40px;
    line-height: 45px;
  }

  .heroCarousel-description {
    letter-spacing: 0;
    font-size: 16px;
    line-height: 26px;
  }

  .marq-links {
    .button--primary {
      margin-bottom: 12px;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.3s ease;
      max-width: 250px;
      &:hover {
        transform: scaleX(1.08);
        transition: all 0.25s ease;
        .heroCarousel-action {
          transform: scaleX(0.90909);
        }
      }
    }
    @include breakpoint("large") {
      .button--primary {
        margin: 0 0 12px 0;
        &:hover {
          transform: scaleX(1.08) translate(0.66em);
        }
      }
    }
  }

  .h5-subHead-lg {
    margin-bottom: 12px;
  }

  @include breakpoint("large") {
    .heroCarousel {
      margin-top: 0;
      height: 550px;
    }

    .heroCarousel .slick-list {
      overflow: inherit;
    }

    .heroCarousel .slick-next,
    .heroCarousel .slick-prev {
      top: calc(50% - 30px);
    }

    .heroCarousel-slide {
      height: 500px;
      .heroCarousel-image {
        display: none;
      }
      .heroCarousel-content {
        background-color: #f2f2f2;
        height: 500px;
        width: 100%;
        transform: none;
        top: 0;

        .copy-container {
          width: 50%;
          height: auto;
          background-color: transparent;
          padding: 50px;
          position: relative;
          z-index: 2;
          text-align: left;

          &.bg-white {
            background-color: #ffffff;
          }

          .h5-subHead-lg {
            margin-bottom: 12px;
          }
        }

        .content-container {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 6rem;
          padding-right: 6rem;
        }

        .marq-links {
          display: flex;
          align-items: center;
          margin-left: 0;

          .text-link {
            margin: 0 0 0 30px;
          }
        }

        &.left-content {
          .content-bg {
            display: block;
            left: 46%;
            top: 10px;
            max-width: 700px;
          }

          .content-fg {
            display: block;
            left: 45%;
            bottom: -40px;
            max-width: 400px;
          }
        }

        &.right-content {
          .content-container {
            justify-content: flex-end;
          }

          .content-bg {
            display: block;
            left: 0;
          }

          .content-fg {
            display: block;
            right: 45%;
            max-width: 400px;
          }
        }

        .content-bg {
          width: 57.8%;
          position: absolute;
          z-index: 1;
          top: 30px;
          max-width: 700px;
        }

        .content-fg {
          position: absolute;
          z-index: 3;
          width: 29%;
          bottom: -60px;
          top: inherit;
        }

        .heroCarousel-title {
          font-size: 40px;
          line-height: 45px;
          letter-spacing: 0;
        }
      }

      .home-body-banner {
        box-sizing: border-box;
        display: inline-flex;
        height: 150px;
        padding: 60px;

        p {
          margin: auto 10px;
        }
      }
    }
  }
}

.white-text {
  color: #ffffff !important;
}

.black-text {
  color: #111111 !important;
}

.homepage .heroCarousel-content .copy-container {
  background-color: rgba(255, 255, 255, 0.94);
}

.homepage .heroCarousel-title,
.homepage .heroCarousel-description {
  color: #111111;
}

.homepage .heroCarousel-subhead {
  color: #4a7322;
}
