<div id="description_component" class="content-container">
    <div class="copy-content">
        <div class="heading">
            <h2>dry suit and dry top in one</h2>
        </div>
        <div class="content">
            <p>Kokatat introduces the Idol dry suit with SwitchZip technology that separates completely at the waist giving paddlers the versatility of a dry suit and dry top in one garment. The full separation makes the Idol much easier to put on and take off than traditional dry suits. The suit features Kokatat’s exclusive 3-layer Evolution GORE-TEX® Pro Shell fabric, used in combination with 330 Cordura GORE-TEX® Pro Shell and is backed by Kokatat’s limited lifetime warranty.</p>
        </div>
    </div>
    <div class="image">
        <img src="{{cdn 'img/product/product_features.png'}}">
    </div>
    <div class="desktop-only">
        <img class="image" src="{{cdn 'img/product/feature_img.png'}}">
        <div class="content">
            <div class="h6-subHead-sm">DURABLE CORDURA® FACE FABRIC WHERE NEEDED</div>
            <p>330 denier GORE-TEX® Cordura® waterproof breathable fabric on shoulders and below the waist where needed for maximum durability.</p>
        </div>
    </div>
</div>
<div id="feature_blocks">
    <div class="content-container">
        <div class="feature feature-1">
            <div class="content">
                <h3 class="headline">striving for the ultimate dry suit</h3>
                <div class="copy">Kokatat introduces SwitchZip technology that separates completely at the waist giving paddlers the versatility of a dry suit and dry top in one.</div>
                <div class="video-link">
                    <svg id="Icon_PlayButton" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59">
                      <circle id="Ellipse_25" data-name="Ellipse 25" cx="29.5" cy="29.5" r="29.5"/>
                      <path id="Subtraction_56" data-name="Subtraction 56" d="M3.537,17.388h0L0,0,17.388,3.537,3.537,17.387Z" transform="translate(38.929 29.642) rotate(135)" fill="#fff"/>
                    </svg>
                    <a class="text-link-no-arrow" href="#">watch the video</a>
                </div>
                <span class="triangle"></span>
            </div>

            <div class="image" style="background-image: url('{{cdn 'img/product/zipper.png'}}')"></div>
        </div>
        <div class="feature feature-2">
            <div class="image" style="background-image: url('{{cdn 'img/product/layer.png'}}')"></div>
            <div class="content">
                <h3 class="headline">built with gore-tex® and cordura®</h3>
                <div class="copy">Two technologies combined to make one highly waterproof breathable and durable dry suit.</div>
                <span class="triangle"></span>
            </div>

        </div>
    </div>
</div>
<div id="tech_specs">
    <div class="content-container">
        <h3 class="heading">Technical Specs</h3>
        <ul class="product-list">
            <li class="list-item">It’s a dry suit, it’s a dry top, it’s a pant!</li>
            <li class="list-item">Evolution 3.21 oz. nylon 3-layer GORE-TEX® Pro body</li>
            <li class="list-item">Latex gaskets with neoprene punch through collar and cuffs</li>
            <li class="list-item">Strategic zipper placement sits between backband and seat</li>
            <li class="list-item">Self-draining, zippered sleeve pocket with key lanyard</li>
            <li class="list-item">Zipper flap to protect top half of zipper in dry top configuration</li>
            <li class="list-item">330 Cordura® GORE-TEX® Pro shoulders, sleeves, and legs</li>
        </ul>
    </div>
</div>
<div id="product_care">
    <div class="content-container">
        <div>
            <h3>product care</h3>
            <ul class="product-list">
                <li class="list-item">Machine or hand wash cool with liquid detergent</li>
                <li class="list-item">Hang to dry</li>
                <li class="list-item">Do not bleach or dry clean</li>
                <li class="list-item">Store it dry, hanging, or loosely folded</li>
            </ul>
            <div><a class="text-link" href="#">see general care instructions
                    <svg id="Icon_TextLinkArrow" xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 15.865 10">
                        <path id="Color_Overlay" data-name="Color Overlay" d="M10.771,9.843a.531.531,0,0,1,0-.767l3.784-3.623H.582A.525.525,0,0,1,0,4.9a.524.524,0,0,1,.582-.557H14.337L10.771.924a.531.531,0,0,1,0-.766.589.589,0,0,1,.8,0L15.429,3.85A1.118,1.118,0,0,1,15.865,4.9a2.027,2.027,0,0,1-.437,1.254L11.571,9.843a.589.589,0,0,1-.8,0Z" fill="#76A639"/>
                    </svg>
                </a>
            </div>
        </div>
        <div>
            <img src="{{cdn 'img/product/product_video.png'}}">
        </div>
    </div>
</div>
<div id="sizing">
    <div class="content-container">
        <div class="heading-container">
            <h3>Sizing</h3>
            <div>
                <button type="button" class="size-type-link active">Men's Standard</button>
                <button type="button" class="size-type-link">Men's Metric</button>
                <button type="button" class="size-type-link">Sock Sizing</button>
            </div>
        </div>
        <table class="sizeChart" border="0" cellpadding="10" cellspacing="0" width="100%">
        <thead class="chart-heading">
          <tr>
            <td></td>
            <td>XS</td>
            <td>S</td>
            <td>M</td>
            <td>L</td>
            <td>XL</td>
            <td>XXL</td>
          </tr>
        </thead>
            <tbody class="chart-body">
                <tr>
                    <td>Chest</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                </tr>
                <tr>
                    <td>Waist</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                </tr>
                <tr>
                    <td>Girth</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                </tr>
                <tr>
                    <td>Hips</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                </tr>
                <tr>
                    <td>Inseam</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                    <td>XX</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
