<section class="product-component" id="product_care">
    <div class="content-container">
        <div class="toggleLink"><div>Product Care</div><div class="toggle-indicator"></div></div>
        <div class="product-care-container toggle-content">
            <div>
                <h3 class="heading"><span id="product_care-link">product care</span></h3>
                <div class="product-care-copy"></div>
                <div class="product-care-pdf"></div>
                <div><a class="text-link" href="/product-use-care/">see general care instructions</a></div>
            </div>
            <div class="product-care-video"></div>
        </div>
    </div>
</section>
