<div id="productTop" class="productView" role="main" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
{{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert-success success}}
        {{/if}}
    {{/each}}


    <div class="content-container">
        <section class="productView-images" data-image-gallery>
            {{!--
                Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
                for variant/rule image replacement
            --}}
            <figure class="productView-image"
                    data-image-gallery-main
                    {{#if product.main_image}}
                    data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                    {{/if}}
                    >
                <div class="productView-img-container">
                    {{!-- Remove the surrounding a-element if there is no main image. --}}
                    {{#if product.main_image}}
                        <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                            target="_blank"{{#if schema}} itemprop="image"{{/if}}>
                    {{/if}}
                    {{> components/common/responsive-img
                        image=product.main_image
                        class="productView-image--default"
                        fallback_size=theme_settings.product_size
                        lazyload=theme_settings.lazyload_mode
                        default_image=theme_settings.default_image_product
                        otherAttributes="data-main-image"
                    }}
                    {{!-- Remove the surrounding a-element if there is no main image. --}}
                    {{#if product.main_image}}
                        </a>
                    {{/if}}
                </div>
            </figure>
            <div class="productView-thumbnails"{{#gt product.images.length 5}} data-slick='{
                    "infinite": false,
                    "mobileFirst": true,
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "dots": false,
                    "swipeToSlide": true,
                    "responsive": [
                        {
                          "breakpoint": 801,
                          "settings": {
                              "slidesToShow":5,
                              "vertical": true
                            }
                        },
                        {
                          "breakpoint": 1100,
                          "settings": {
                              "slidesToShow":6,
                              "vertical": true
                            }
                        }
                    ]
                }'{{/gt}}>
                {{#if product.videos.list.length}}
                <div class="productView-thumbnail">
                    <a href="#" class="productView-thumbnail-link" data-reveal-id="product-video-modal" id="video-modal" aria-label="{{lang 'products.video' }}">
                        <svg id="Icon_PlayButton" xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59">
                            <circle id="Ellipse_25" data-name="Ellipse 25" cx="29.5" cy="29.5" r="29.5"></circle>
                            <path id="Subtraction_56" data-name="Subtraction 56" d="M3.537,17.388h0L0,0,17.388,3.537,3.537,17.387Z" transform="translate(38.929 29.642) rotate(135)" fill="#fff"></path>
                        </svg>
                    </a>
                </div>
                {{/if}}
                {{#each product.images}}
                    <div class="productView-thumbnail">
                        <a
                            class="productView-thumbnail-link"
                            href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                            data-image-gallery-item
                            data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                            data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                            data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        >
                        {{> components/common/responsive-img
                            image=this
                            fallback_size=../theme_settings.product_size
                            lazyload=../theme_settings.lazyload_mode
                        }}
                        </a>
                    </div>
                {{/each}}
            </div>
        </section>
        <section class="productView-details">
            <div class="productView-product">
                <div class="productView-header-container">
                    <div class="header-details">
                        <div class="product-top">
                            <div class="title-container">

                              {{#each product.custom_fields}}
                                  {{#if name '==' 'Gender'}}
                                  <div class="eyebrow">{{value}}</div>
                                  {{/if}}
                              {{/each}}

                            <h1 class="productView-title" id="h3" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
                            {{#if product.brand}}
                                <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                                    <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
                                </h2>
                            {{/if}}
                            </div>
                            {{#each product.custom_fields}}
                                {{#if name '==' 'dry_performance'}}
                                <div class="dry-rating">
                                    {{#if value '==' 'Dry'}}
                                        <img src="{{cdn 'img/kokatat/icon-assets/Icon_Dry.png'}}" alt="Dry performance rating icon">
                                        <div class="h6-subHead-sm">Dry</div>
                                    {{/if}}
                                    {{#if value '==' 'Semi-dry'}}
                                        <img src="{{cdn 'img/kokatat/icon-assets/Icon_Semi-dry.png'}}" alt="Semi-dry performance rating icon">
                                        <div class="h6-subHead-sm">Semi-Dry</div>
                                    {{/if}}
                                    {{#if value '==' 'Splash'}}
                                        <img src="{{cdn 'img/kokatat/icon-assets/Icon_Splash.png'}}" alt="Splash performance rating icon">
                                        <div class="h6-subHead-sm">Splash</div>
                                    {{/if}}
                                </div>
                                {{/if}}
                            {{/each}}
                        </div>
                        {{#if product.call_for_price}}
                            <p class="productView-price">
                                <span>{{product.call_for_price}}</span>
                            </p>
                        {{/if}}
                        <div class="productView-price">
                            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                                {{> components/products/price price=product.price schema_org=schema}}
                            {{else}}
                                {{> components/common/login-for-pricing}}
                            {{/or}}
                        </div>
                        {{{region name="product_below_price"}}}
                        <div class="productView-rating"{{#if product.num_reviews '>' 0}}{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}{{/if}}>
                            {{#if settings.show_product_rating}}
                                {{#if product.num_reviews '>' 0}}
                                    {{#if schema}}
                                        <meta itemprop="ratingValue" content="{{product.rating}}">
                                        <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                                        <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                                    {{/if}}
                                {{/if}}
                                {{> components/products/ratings rating=product.rating}}
                                <span class="productView-reviewLink">
                                    {{#if product.num_reviews '>' 0}}
                                        <a href="{{product.url}}#product-reviews">
                                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                        </a>
                                    {{else}}
                                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                    {{/if}}
                                </span>
                            {{/if}}
                            {{#if settings.show_product_reviews}}
                                <span class="productView-reviewLink">
                                    <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                                       {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                                       {{lang 'products.reviews.new'}}
                                    </a>
                                </span>
                                {{> components/products/modals/writeReview}}
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div class="description body-copy-rg"{{#if schema}} itemprop="description"{{/if}}>
                    {{> kokatat/components/products/description}}
                </div>
                {{product.detail_messages}}
                <dl class="productView-info">
                    <dt class="productView-info-name sku-label"{{#unless product.sku}} style="display: none;"{{/unless}} hidden>{{lang 'products.sku'}}</dt>
                    <dd class="productView-info-value" data-product-sku{{#if schema}} itemprop="sku"{{/if}} hidden>{{product.sku}}</dd>
                    <dt class="productView-info-name upc-label"{{#unless product.upc}} style="display: none;"{{/unless}} hidden>{{lang 'products.upc'}}</dt>
                    <dd class="productView-info-value" data-product-upc hidden>{{product.upc}}</dd>
                    {{#if schema}}
                        {{#if product.mpn}}<meta itemprop="mpn" content="{{product.mpn}}" />{{/if}}
                        {{#if product.gtin}}<meta itemprop="gtin" content="{{product.gtin}}" />{{/if}}
                    {{/if}}
                    {{#if product.condition}}
                        <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                        <dd class="productView-info-value">{{product.condition}}</dd>
                    {{/if}}
                    {{#all product.weight theme_settings.show_product_weight}}
                        <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                        <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                    {{/all}}
                    {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                        <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                        <dd class="productView-info-value" data-product-width>
                            {{product.width}}
                            {{#if settings.measurements.length '==' 'Centimeters'}}
                            ({{lang 'products.measurement.metric'}})
                            {{else}}
                            ({{lang 'products.measurement.imperial'}})
                            {{/if}}
                        </dd>
                        <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                        <dd class="productView-info-value" data-product-height>
                            {{product.height}}
                            {{#if settings.measurements.length '==' 'Centimeters'}}
                            ({{lang 'products.measurement.metric'}})
                            {{else}}
                            ({{lang 'products.measurement.imperial'}})
                            {{/if}}
                        </dd>
                        <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                        <dd class="productView-info-value" data-product-depth>
                            {{product.depth}}
                            {{#if settings.measurements.length '==' 'Centimeters'}}
                            ({{lang 'products.measurement.metric'}})
                            {{else}}
                            ({{lang 'products.measurement.imperial'}})
                            {{/if}}
                        </dd>
                    {{/all}}
<!--                     {{#if product.min_purchase_quantity}}
                        <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                    {{/if}}
                    {{#if product.max_purchase_quantity}}
                        <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                    {{/if}} -->
                    {{#if product.gift_wrapping_available}}
                        <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                    {{/if}}
                    {{#if product.shipping}}
                        {{#if product.shipping.calculated}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                        {{else}}
                            {{#if product.shipping.price.value '===' 0}}
                                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                            {{else}}
                                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                            {{/if}}
                        {{/if}}
                    {{/if}}

                    {{#if settings.bulk_discount_enabled}}
                        <div class="productView-info-bulkPricing">
                            {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                        </div>
                    {{/if}}

                    {{#if theme_settings.show_custom_fields_tabs '!==' true}}
                        {{#each product.custom_fields}}
                            <dt class="productView-info-name">{{name}}:</dt>
                            <dd class="productView-info-value">{{{value}}}</dd>
                        {{/each}}
                    {{/if}}
                </dl>
            </div>
            <div class="productView-options">
                {{#if product.release_date }}
                    <p>{{product.release_date}}</p>
                {{/if}}
                <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                      data-cart-item-add>
                    <input type="hidden" name="action" value="add">
                    <input type="hidden" name="product_id" value="{{product.id}}"/>
                    <div id="options-container" class="options-container" data-product-option-change style="display:none;">
                        {{#each product.options}}
                            {{{dynamicComponent 'kokatat/components/products/options'}}}
                        {{/each}}
                    </div>
                    <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                        <label class="form-label form-label--alternate">
                            {{lang 'products.current_stock'}}
                            <span data-product-stock>{{product.stock_level}}</span>
                        </label>
                    </div>
                    {{#or product.can_purchase product.options}}
                        {{> kokatat/components/products/add-to-cart}}
                    {{/or}}
                    {{!--
                    {{#if product.out_of_stock}}
                        {{#if product.out_of_stock_message}}
                            {{> components/common/alert-error product.out_of_stock_message}}
                        {{else}}
                            {{> components/common/alert-error (lang 'products.sold_out')}}
                        {{/if}}
                    {{/if}}
                    --}}
                    {{assignVar 'has_variants' 0}}
                    {{#each product.options}}
                        {{#if this.state '===' 'variant_option'}}
                            {{assignVar 'has_variants' 1}}
                        {{/if}}
                    {{/each}}
                    {{#and product.out_of_stock (if (getVar 'has_variants') '===' 0)}}
                        {{#if product.out_of_stock_message}}
                            {{> components/common/alert-error product.out_of_stock_message}}
                        {{else}}
                            {{> components/common/alert-error (lang 'products.sold_out')}}
                        {{/if}}
                    {{/and}}
                </form>
            </div>

            <div class="options-bottom">
                <div class="share-container">share: {{> components/common/share}}</div>
                <div class="options-right">

                    <!-- LOCALLY.COM WIDGET EMBED CODE -->
                <div id="lcly-button-0" class="text-link-no-arrow" data-switchlive="true" data-switchlive-impression="true" data-switchlive-impression-id-PL="1">
                    <a id="lcly-link-0" data-switchlive="true" data-switchlive-mode="auto" data-switchlive-id-PL="6" href="https://brands.locally.com" target="_blank">Product Locator by Locally</a>
                </div>

                    {{#if settings.show_wishlist}}
                        {{> kokatat/components/products/wishlist-dropdown}}
                    {{/if}}
                </div>

            </div>
        </section>
    </div>
</div>

<script id="lcly-script-0" async></script>
<script id="lcly-config-0">
    async function getProductSku(request, productId) {
        let response = await fetch('/graphql', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer {{ settings.storefront_api.token }}'
            }
        });
        response = new Response(response.body, response);
        response.headers.set("Access-Control-Allow-Origin", "*");
        response.headers.append("Vary", "Origin");
        return response;
    }
    addEventListener('fetch', event => {
        event.respondWith(getProductSku(event.request, {{ product.id }}));
    })
    let $baseSku = '';
    fetch('/graphql', {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer {{ settings.storefront_api.token }}'
        },
        body: JSON.stringify({
            query: `
              query SingleProduct {
              site {
                products (entityIds: [{{ product.id }}]) {
                  edges {
                    node {
                      id
                      entityId
                      sku
                      name
                    }
                  }
                }
              }
            }
            `
        }),
    })
    .then(res => res.json())
    .then(json => {
        $baseSku = json.data.site.products.edges[0].node.sku;
        var lcly_config_0 = {

            "company_name": "Kokatat",
            "button_text": "find locally",
            "button_id": "HTML",
            "company_id": "1450",
            "css": "5",
            "button_toggles_all": "1",
            "style": `${$baseSku}`,
            "n_related_styles": "3",
            "lang": "en-us",
            "show_dealers": "1",
            "n_dealers": "3",
            "link_opens_modal": "1"
          };

          var lcly_query_0 = Object.keys(lcly_config_0)
          .reduce(function(a,k){a.push(encodeURIComponent(k) + '='
          + encodeURIComponent(lcly_config_0[k]));return a},[]).join('&');
          var lcly_endpoint_0 = 'https://Kokatat.locally.com/stores/map.js?' + lcly_query_0;
          document.getElementById('lcly-script-0').src = lcly_endpoint_0;
        });
</script>

<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

{{#if product.videos.list.length}}
    {{> kokatat/components/products/modals/video-modal}}
{{/if}}
