<section class="product-component" id="feature_blocks">
    <div class="content-container">
        <div class="toggleLink"><div>Description</div><div class="toggle-indicator"></div></div>
        <div class="toggle-content">
            <div>
                <div class="heading">
                    <h2></h2>
                    <span id="feature_blocks-link"></span>
                </div>
                <div class="content">
                    <p>{{{product.description}}}</p>
                </div>
                <div class="feature-callout">

                </div>
            </div>
            <div class="feature-grid-wrapper">

            </div>
        </div>
    </div>
</section>
