<section class="product-component" id="sizing" aria-labelledby="sizing-section-heading">
    <div class="content-container">
        <h2 id="sizing-section-heading" class="u-hiddenVisually">Sizing</h2>
        <button type="button" class="toggleLink" aria-expanded="false" aria-controls="sizing-content" aria-label="Toggle sizing section"><span aria-hidden="true">Sizing</span><span class="toggle-indicator" aria-hidden="true"></span></button>
        <div class="sizing-container toggle-content" id="sizing-content">
            <div class="heading-container">
                <h2 class="heading"><span id="sizing-link">Sizing</span></h2>
                <div class="size-toggle-container" role="tablist" aria-label="Size chart">

                </div>
            </div>
            <div>
                <div class="size-section-container"></div>
            </div>
            {{!--
            <table class="sizeChart" border="0" cellpadding="10" cellspacing="0" width="100%">
            <thead class="chart-heading">
              <tr>
                <td></td>
                <td>XS</td>
                <td>S</td>
                <td>M</td>
                <td>L</td>
                <td>XL</td>
                <td>XXL</td>
              </tr>
            </thead>
                <tbody class="chart-body">
                    <tr>
                        <td>Chest</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                    </tr>
                    <tr>
                        <td>Waist</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                    </tr>
                    <tr>
                        <td>Girth</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                    </tr>
                    <tr>
                        <td>Hips</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                    </tr>
                    <tr>
                        <td>Inseam</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                        <td>XX</td>
                    </tr>
                </tbody>
            </table>
            --}}
        </div>
    </div>
</section>
