<form action="{{product.add_to_wishlist_url}}" class="form form-wishlist form-action" data-wishlist-add method="post">
    <button type="button" aria-expanded="false" aria-haspopup="true" aria-label="Add to wishlist" class="dropdown-menu-button" data-dropdown="wishlist-dropdown">
        <i class="icon heart-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="26.5" height="24.886" viewBox="0 0 26.5 24.886">
                <path id="Icon_FavoriteHeart"
            d="M467.119,1602.465a6.423,6.423,0,0,0-5.71,3.027,6.612,6.612,0,0,0-5.845-3.027c-4.008,0-6.8,3.712-6.8,7.043,0,3.123,1.638,4.927,4.611,8.2,2.8,3.085,7.317,7.8,7.362,7.85.009.009.019.015.028.023s.006.011.011.015.018.01.026.016a.946.946,0,0,0,.27.169c.009,0,.019,0,.028.009a.941.941,0,0,0,.319.059h0a.942.942,0,0,0,.326-.062l.026-.008a.935.935,0,0,0,.276-.177c.008-.007.017-.009.025-.016s.005-.009.009-.014.019-.015.028-.024c.044-.048,4.441-4.766,7.167-7.85,2.893-3.274,4.486-5.077,4.486-8.192C473.764,1606.178,471.035,1602.465,467.119,1602.465Z"
            transform="translate(-448.014 -1601.715)" fill="none" stroke="#707070" stroke-width="1.5" />
            </svg>
        </i>
        <span class="u-hiddenVisually">Add to wishlist</span>
    </button>
    <ul aria-hidden="true" class="dropdown-menu" data-dropdown-content id="wishlist-dropdown" inert>
        {{#if customer.wishlists}} {{#each customer.wishlists}}
        <li>
            <input class="button {{#if this.num_items '!==' '0'}}button--has-items{{/if}}" formaction="{{this.add_url}}&product_id={{../product.id}}"
                type="submit" value="{{this.name}}">
        </li>
        {{/each}} {{else}}
        <li>
            <input class="button" type="submit" value="{{lang 'account.wishlists.add_to_default'}}">
        </li>
        {{/if}}
        <li>
            <a data-wishlist class="button" href="/wishlist.php?action=addwishlist&product_id={{product.id}}">{{lang 'account.wishlists.create_new'}}</a>
        </li>
    </ul>
</form>
