<div id="blog-marquee">
  <div class="heroCarousel-slide">
    <div class="heroCarousel-image-wrapper">
        <img class="heroCarousel-image" alt="" title="" src="">
        <div class="placeholder">
          <canvas height="450" width="1480"></canvas>
        </div>
    </div>
    <div class="content-container">
      <div class="content-wrapper">
        <div class="copy-container">
          <h1 class="title"></h1>
          <p class="description"></p>
        </div>
      </div>
    </div>
  </div>
</div>
