<div id="articlePost" class="blog-card">
  <a class="overlay"></a>
  <!-- <a href="#" class="blog-card-img-link" style="cursor: pointer;"> -->
  <img class="hidden" alt="" src="" style="order: 1;">
  <!-- </a> -->
  <div class="placeholder">
    <canvas height="350" width="412"></canvas>
  </div>
  <div class="blog-content">
    <header class="blog-header">
      <div class="blog-subhead">
        <div class="tag"></div>
        <div class="subhead-divider">|</div>
        <div class="blog-date"></div>
      </div>
      <h2 class="blog-title">
        <a href="#"></a>
      </h2>
    </header>
    <div class="blog-post">
      <span class="teaser"></span>
      <br>
      <a href="#" class="text-link">read more</a>
    </div>
  </div>
</div>
