<!-- FEATURED STORY -->
<div id="blog-featured-story">
  <div class="featured-wrapper">
    <div class="featured-content">
        <div class="cover-container">
            <canvas width="974" height="500"></canvas>
            <img class="" alt="" title="" src="" style="order: 1;">
        </div>
      <h6 class="featured-title">featured story</h6>
      <div class="pullquote-bg">
        <div class="pullquote">
          <svg xmlns="http://www.w3.org/2000/svg" width="56" height="58" viewBox="0 0 56 58">
            <text id="Icon_QuoteMark" fill="#707070" font-size="100" font-family="Gotham-Ultra, Gotham">
              <tspan x="0" y="80">“</tspan>
            </text>
          </svg>
          <br>
          <span></span>
        </div>
        <br>
        <a href=""><span class="text-link" style="color: #ffffff">read the full story</span></a>
      </div>
    </div>
  </div>
</div>
