<div id="strike-home-cta">
    <div class="cta-row">
        <div id="cta_block_1" class="shop-cta-odd">
            <img src="" alt="" class="overlay">
            <div class="text-cta">
                <a href="/strike/chembio/" class="strike-cta-btn cta-button kok-btn">Shop Chembio</a>
            </div>
        </div>
        <div id="cta_block_2" class="shop-cta-even">
            <div class="text-cta">
                <div class="cta-description">
                    <img src="" alt="">
                    <div class="">
                        <h4>Kokatat Elements</h4>
                        <a href="#" class="text-link">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-row reverse">
        <div id="cta_block_3" class="shop-cta-odd">
            <img src="" alt="" class="overlay">
            <div class="text-cta">
                <a href="/strike/maritime/" class="strike-cta-btn cta-button kok-btn">Shop Maritime</a>
            </div>
        </div>
        <div id="cta_block_4" class="shop-cta-even">
            <div class="text-cta">
                <div class="cta-description reverse">
                    <img src="" alt="">
                    <div>
                        <h4>Headline</h4>
                        <a href="#" class="text-link">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
